<%= form_with(model: trump, local: true) do |form| %>
  <% if trump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trump.errors.count, "error") %> prohibited this trump from being saved:</h2>

      <ul>
      <% trump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :trump_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :trump_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
