<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trump.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @trump.value %>
</p>

<%= link_to 'Edit', edit_trump_path(@trump) %> |
<%= link_to 'Back', trumps_path %>
